node_modules/
build/.DS_Store
build/asset-manifest.json
build/favicon.ico
build/index.html
build/manifest.json
build/resumeData.json
build/css/default.css
build/css/fonts.css
build/css/layout.css
build/css/magnific-popup.css
build/css/media-queries.css
build/css/font-awesome/css/font-awesome.css
build/css/font-awesome/css/font-awesome.min.css
build/css/font-awesome/fonts/fontawesome-webfont.eot
build/css/font-awesome/fonts/fontawesome-webfont.svg
build/css/font-awesome/fonts/fontawesome-webfont.ttf
build/css/font-awesome/fonts/fontawesome-webfont.woff
build/css/font-awesome/fonts/FontAwesome.otf
build/css/font-awesome/less/bordered-pulled.less
build/css/font-awesome/less/core.less
build/css/font-awesome/less/fixed-width.less
build/css/font-awesome/less/font-awesome.less
build/css/font-awesome/less/icons.less
build/css/font-awesome/less/larger.less
build/css/font-awesome/less/list.less
build/css/font-awesome/less/mixins.less
build/css/font-awesome/less/path.less
build/css/font-awesome/less/rotated-flipped.less
build/css/font-awesome/less/spinning.less
build/css/font-awesome/less/stacked.less
build/css/font-awesome/less/variables.less
build/css/font-awesome/scss/_bordered-pulled.scss
build/css/font-awesome/scss/_core.scss
build/css/font-awesome/scss/_fixed-width.scss
build/css/font-awesome/scss/_icons.scss
build/css/font-awesome/scss/_larger.scss
build/css/font-awesome/scss/_list.scss
build/css/font-awesome/scss/_mixins.scss
build/css/font-awesome/scss/_path.scss
build/css/font-awesome/scss/_rotated-flipped.scss
build/css/font-awesome/scss/_spinning.scss
build/css/font-awesome/scss/_stacked.scss
build/css/font-awesome/scss/_variables.scss
build/css/font-awesome/scss/font-awesome.scss
build/css/fontello/css/animation.css
build/css/fontello/css/fontello-codes.css
build/css/fontello/css/fontello-embedded.css
build/css/fontello/css/fontello-ie7-codes.css
build/css/fontello/css/fontello-ie7.css
build/css/fontello/css/fontello.css
build/css/fontello/font/fontello.eot
build/css/fontello/font/fontello.svg
build/css/fontello/font/fontello.ttf
build/css/fontello/font/fontello.woff
build/css/fonts/librebaskerville/librebaskerville-bold-webfont.eot
build/css/fonts/librebaskerville/librebaskerville-bold-webfont.svg
build/css/fonts/librebaskerville/librebaskerville-bold-webfont.ttf
build/css/fonts/librebaskerville/librebaskerville-bold-webfont.woff
build/css/fonts/librebaskerville/librebaskerville-italic-webfont.eot
build/css/fonts/librebaskerville/librebaskerville-italic-webfont.svg
build/css/fonts/librebaskerville/librebaskerville-italic-webfont.ttf
build/css/fonts/librebaskerville/librebaskerville-italic-webfont.woff
build/css/fonts/librebaskerville/librebaskerville-regular-webfont.eot
build/css/fonts/librebaskerville/librebaskerville-regular-webfont.svg
build/css/fonts/librebaskerville/librebaskerville-regular-webfont.ttf
build/css/fonts/librebaskerville/librebaskerville-regular-webfont.woff
build/css/fonts/opensans/OpenSans-Bold-webfont.eot
build/css/fonts/opensans/OpenSans-Bold-webfont.svg
build/css/fonts/opensans/OpenSans-Bold-webfont.ttf
build/css/fonts/opensans/OpenSans-Bold-webfont.woff
build/css/fonts/opensans/OpenSans-BoldItalic-webfont.eot
build/css/fonts/opensans/OpenSans-BoldItalic-webfont.svg
build/css/fonts/opensans/OpenSans-BoldItalic-webfont.ttf
build/css/fonts/opensans/OpenSans-BoldItalic-webfont.woff
build/css/fonts/opensans/OpenSans-ExtraBold-webfont.eot
build/css/fonts/opensans/OpenSans-ExtraBold-webfont.svg
build/css/fonts/opensans/OpenSans-ExtraBold-webfont.ttf
build/css/fonts/opensans/OpenSans-ExtraBold-webfont.woff
build/css/fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot
build/css/fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg
build/css/fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf
build/css/fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff
build/css/fonts/opensans/OpenSans-Italic-webfont.eot
build/css/fonts/opensans/OpenSans-Italic-webfont.svg
build/css/fonts/opensans/OpenSans-Italic-webfont.ttf
build/css/fonts/opensans/OpenSans-Italic-webfont.woff
build/css/fonts/opensans/OpenSans-Light-webfont.eot
build/css/fonts/opensans/OpenSans-Light-webfont.svg
build/css/fonts/opensans/OpenSans-Light-webfont.ttf
build/css/fonts/opensans/OpenSans-Light-webfont.woff
build/css/fonts/opensans/OpenSans-LightItalic-webfont.eot
build/css/fonts/opensans/OpenSans-LightItalic-webfont.svg
build/css/fonts/opensans/OpenSans-LightItalic-webfont.ttf
build/css/fonts/opensans/OpenSans-LightItalic-webfont.woff
build/css/fonts/opensans/OpenSans-Regular-webfont.eot
build/css/fonts/opensans/OpenSans-Regular-webfont.svg
build/css/fonts/opensans/OpenSans-Regular-webfont.ttf
build/css/fonts/opensans/OpenSans-Regular-webfont.woff
build/css/fonts/opensans/OpenSans-Semibold-webfont.eot
build/css/fonts/opensans/OpenSans-Semibold-webfont.svg
build/css/fonts/opensans/OpenSans-Semibold-webfont.ttf
build/css/fonts/opensans/OpenSans-Semibold-webfont.woff
build/css/fonts/opensans/OpenSans-SemiboldItalic-webfont.eot
build/css/fonts/opensans/OpenSans-SemiboldItalic-webfont.svg
build/css/fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf
build/css/fonts/opensans/OpenSans-SemiboldItalic-webfont.woff
build/images/.DS_Store
build/images/header-background.jpg
build/images/header-background1.jpg
build/images/IMG_1925.HEIC
build/images/loader.gif
build/images/overlay-bg.png
build/images/profile1pic.jpg
build/images/profilepic.jpeg
build/images/Sai_Krishna_Varakala_Resume.pdf
build/images/testimonials-bg.jpg
build/images/portfolio/.DS_Store
build/images/portfolio/1.jpg
build/images/portfolio/2.jpg
build/images/portfolio/3.jpg
build/images/portfolio/4.jpg
build/images/portfolio/5.jpg
build/images/portfolio/6.JPG
build/images/portfolio/7.JPG
build/images/portfolio/8.jpg
build/images/portfolio/9.JPG
build/images/portfolio/NexTechInterviews.jpg
build/js/init.js
build/js/jquery-1.10.2.min.js
build/js/jquery-migrate-1.2.1.min.js
build/js/jquery.fittext.js
build/js/jquery.flexslider.js
build/js/magnific-popup.js
build/js/modernizr.js
build/js/waypoints.js
build/static/css/main.898b831b.chunk.css
build/static/css/main.898b831b.chunk.css.map
build/static/js/2.67042a8f.chunk.js
build/static/js/2.67042a8f.chunk.js.LICENSE.txt
build/static/js/2.67042a8f.chunk.js.map
build/static/js/main.51a8a005.chunk.js
build/static/js/main.51a8a005.chunk.js.map
build/static/js/runtime-main.94cfff2c.js
build/static/js/runtime-main.94cfff2c.js.map
